{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import css file -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mainapp/css/style.css'%}?v=4">

    <title>Claim Your Rekord</title>
</head>
<body>

    <!--Messages- Default-->
    {% if messages %}
        {% for message in messages %}
            <script>
            alert("{{ message|escapejs }}");
            </script>
        {% endfor %}
    {% endif %}

    <!-- navbar section -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">REKORD</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Wallet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Help</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- title section -->
    <div>
        <h1 class="claim-title text-center">hey <span class="participant-name">{{claimtoken.name}}!!!</span></h1>
        <h4 class="caption text-center">--let's mint a badge on chain--</h4>
        
        <div class="dynamicdiv">
            <div class="d-flex justify-content-center mb-3">
                <button type="button" class="btn connect-btn w-25" name="action" value="connect-wallet" id="connectwalletbutton">Connect Wallet</button>
            </div>
            <p id="walletAddress" class="nowalletaddr text-center"> No Wallet Connected</p>
        </div>

        <form id="walletConnectForm" method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="connect-wallet" id="connectwalletbutton">
            <input type="hidden" name="walletaddress" id="walletInput">
        </form>
        {% comment %}
            <p class="claim-subtitle text-center mt-5">you have a Rekord to mint. Not everyone get's one, so </p>
            <p class="claim-subtitle text-center">claim you're right now!!</p>
        {% endcomment %}
    </div>

    <!-- event overview section -->
    <div class="display-tile align-item-start">
        <div class="d-flex align-item-center gap-5">
            <div class="imagediv d-flex justify-content-center">
                <img class="claim-imagepreview"  id="image-preview1" src="/media/notconnected.jpg" alt="Image Preview">
                <img class="claim-imagepreview" hidden id="image-preview2" src="/media/loading.png" alt="Image Preview">

                </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div>
                            <p class="claim-eventname">{{event.eventname}}</p>

                            <p class="claim-eventdesc text-start">{{event.eventdescription}}</p>
                            <p class="claim-eventtype text-start">Event Type: {{event.eventtype}}</p>

                            <div class="d-flex justify-content-center gap-5 mt-2">
                                <p class="claim-eventcity">City: {{event.city}}</p>
                                <p class="claim-eventdate">Date: {{event.eventdate}}</p>
                            </div>

                            <!-- passcode section -->
                            <div class="d-flex justify-content-center gap-3 mt-5">
                                <label for="cityFormControlInput" class="form-label codelabel mt-2">Code</label>
                                <input type="text" class="form-control" name="passcode" id="passcodeFormControlInput" placeholder="Secret Code">
                            </div>
                        </div>

                        <!-- mint button -->
                        </div>
                            <input type="hidden" id="walletInput2" name="walletaddress">
                            <button type="submit" class="btn claim-btn-green w-50 mt-3" disabled name="action" value="mint-badge" id="mintbadge">Mint NFT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/ethers@5.7.2/dist/ethers.umd.min.js"></script>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');
        const walletBtn = document.getElementById("connectwalletbutton");
        const walletText = document.getElementById("walletAddress");
        const walletInput = document.getElementById("walletInput");
        const walletInput2 = document.getElementById("walletInput2");
        const mintBtn = document.getElementById("mintbadge");
        const imagepreview1 = document.getElementById("image-preview1")
        const imagepreview2 = document.getElementById("image-preview2")
        const connectwalletbutton=document.getElementById("connectwalletbutton")


        let provider = null;
        let signer = null;
        let connectedAddress = null;

        async function walletconnect(walletAddress) {
            const formData = new FormData();
            formData.append("walletaddress", walletAddress);
            formData.append("action", "connect-wallet");

            const response = await fetch(window.location.pathname, {
                method: "POST",
                headers: {
                    "X-CSRFToken": csrftoken
                },
                body: formData
            });

            const data = await response.json();

            if (!data.image_cid) {
                alert("Failed to generate NFT preview");
                return;
            }
            
            mintBtn.disabled = false;
            imagepreview2.src =
                `https://gateway.pinata.cloud/ipfs/${data.image_cid}`;
        }

        async function connectWallet() {
            if (!window.ethereum) {
                alert("MetaMask not detected. Please install MetaMask.");
                return;
            }

            provider = new ethers.providers.Web3Provider(window.ethereum);
            await provider.send("eth_requestAccounts", []);
            signer = provider.getSigner();
            connectedAddress = await signer.getAddress();

            // UI update
            walletText.innerText = `Connected to : ${connectedAddress}`;
            walletText.classList.remove("nowalletaddr");
            walletText.classList.add("yeswalletaddr");
            walletInput.value = connectedAddress;
            walletInput2.value = connectedAddress;
            console.log("Hidden input set to:", walletInput.value);
            
            imagepreview1.hidden=true;
            imagepreview2.hidden=false;


            walletBtn.innerText = "Disconnect Wallet";
            walletBtn.classList.remove("connect-btn");
            walletBtn.classList.add("disconnect-btn");

            walletBtn.onclick = disconnectWallet;
            await walletconnect(connectedAddress);
        }

        function disconnectWallet() {
            provider = null;
            signer = null;
            connectedAddress = null;

            walletText.innerText = "No Wallet Connected";
            walletInput.value = "";
            walletInput2.value = "";

            walletBtn.innerText = "Connect Wallet";
            walletBtn.classList.remove("disconnect-btn");
            walletBtn.classList.add("connect-btn");
            mintBtn.disabled = true;
            imagepreview1.hidden=false;
            imagepreview2.hidden=true;

            walletBtn.onclick = connectWallet;
        }

        // Initial binding
        walletBtn.onclick = connectWallet;
    </script>

</body>
</html>