<!-- import css file -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import css file -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mainapp/css/style.css'%}?v=2    ">
    <title>Rekord-Home</title>
</head>
<body>
    <h1 class="homepage-title text-center mt-3">hello<span class="orgname">{{ organizationname }}!! </span> </h1>
    <h4 class="caption text-center">--let's make some badges here--</h4>

    <div class="eventcreation-tile">
    <p class="eventcreation-tile-heading mb-4">Create an Event</p>
    <!-- event creaton form -->
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}

            {% comment %} event name {% endcomment %}
            <div class="mb-3 w-100 mx-auto">
                <label for="exampleFormControlInput1" class="form-label d-flex justify-content-start">Event Name</label>
                <input type="text" class="form-control" name="eventname" id="exampleFormControlInput1" placeholder="Name of your Event">
            </div>

            {% comment %} event description {% endcomment %}
            <div class="mb-3 w-100 mx-auto">
                <label for="exampleFormControlInput1" class="form-label d-flex justify-content-start">Description</label>
                <div class="input-group">
                    <textarea class="form-control" name="description" aria-label="With textarea"></textarea>
                </div>
            </div>

            <div class="datediv d-flex justify-content-center gap-1 mb-2">
                <!-- start date div -->
                <div class="w-50">
                    <label for="startdateFormControlInput" class="form-label d-flex justify-content-start">Start Date</label>
                    <input type="date" class="form-control" name="startdate" id="startdateFormControlInput" placeholder="MM-DD-YYYY">
                </div>
                <!-- end date div -->
                <div class="w-50">
                    <label for="enddateFormControlInput" class="form-label d-flex justify-content-start">End Date</label>
                    <input type="date" class="form-control" name="enddate" id="enddateFormControlInput" placeholder="MM-DD-YYYY">
                </div>  
            </div>

            {% comment %} event description {% endcomment %}
            <div class="mb-3 w-100 mx-auto">
                <label for="exampleFormControlInput1" class="form-label d-flex justify-content-start">Email</label>
                <input class="form-control" type="text" placeholder="sreeramvg100@gmail.com " aria-label="Disabled input example" disabled>
            </div>
        </form>
    </div>
    
</body>
</html> 