@font-face {
  font-family: "Grozen";
  src: url("../fonts/GROZEN-MEDICAL-DEMO-Medium.otf") format("opentype");
}
@font-face {
  font-family: "BaseNeueBold";
  src: url("../fonts/BaseNeueTrial-ExpExtBd.ttf") format("truetype");
}
@font-face {
  font-family: "BaseNeueThin";
  src: url("../fonts/BaseNeueTrial-ExpExtLt.ttf") format("truetype");
}
@font-face {
  font-family: "BaseNeueRegular";
  src: url("../fonts/BaseNeueTrial-WideMedium.ttf") format("truetype");
}

.navbar-brand{
  font-family: "Grozen", sans-serif;
}

.homepage-title{
  font-family: "BaseNeueRegular", sans-serif;
  font-size: 90px;
  margin-bottom: 0px;
  margin-top: 210px;
}
.orgname{
    font-family: "BaseNeueBold", sans-serif;
    font-size: 166px;
    color: #7d41ed;
}

.caption{
    font-size: 25px;    
    font-family: "BaseNeueRegular";
    margin-top: -18px;
}


.eventcreation-tile{
  font-family: "BaseNeueRegular";
  width: 800px;
  margin: 50px auto;     
  margin-top: 310px;       
  padding: 20px 20px;
  background: #ffffff;          
  border-radius: 15px;         
  box-shadow: 0 8px 20px rgba(223, 17, 255, 0.15); 
  text-align: center;           
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.eventcreation-tile:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 20px rgba(215, 27, 244, 0.233); 
}
.eventcreation-tile-heading{
  font-size: 30px;
}


.create-btn-purple {
  background-color: #7d41ed;
  border-color: #6f42c1;
  color: #fff;
  width: 110px;
}
.create-btn-purple:hover,
.create-btn-purple:focus {
  background-color: #5a32a3;
  border-color: #5a32a3;
  color: #fff;
}

.history-heading{
  margin-top: 110px;
  font-family: "BaseNeueRegular";
}

